<div class="container mt-4">
    <div class="card mx-auto">
        <div class="card-header bg-transparent">
            <div class="navbar navbar-expand p-0">
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item">
                        <a href="#!" class="nav-link">
                            <div class="position-relative"
                                style="width:50px; height: 50px; border-radius: 50%; border: 2px solid #212529; padding: 2px">
                                <img src=<%= user.profilePic %> 
                                    class="img-fluid rounded-circle" alt="">
                                <span
                                    class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link link-dark"><%= user.name %></a>
                    </li>
                </ul>
            
            </div>
        </div>
        <div class="card-body p-4" style="height: 700px; overflow: auto;" id="content">
            

        <% for( let i = 0; i < messages.length; i++ ) { %> 
    
            <% if (messages[i].idSender === user.id) { %>
                
                <div class="d-flex align-items-baseline mb-4">
                    <div class="position-relative avatar" style="width:50px; height: 50px; border-radius: 50%; border: 2px solid #212529; padding: 2px">
                        <img src=<%= user.profilePic %> 
                            class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block text-dark bg-warning p-2 px-3 m-1"><%= messages[i].message %> 
                            </div>
                        </div>
                        <div>
                            <div class="small"><%= helper.formatDate(messages[i].fecha) %></div>
                        </div>
                    </div>
                </div>

            <% } else { %>

                <div class="d-flex align-items-baseline text-end justify-content-end mb-4">
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block text-white bg-dark p-2 px-3 m-1"><%= messages[i].message %></div>
                        </div>
                        <div>
                            <div class="small"><%=helper.formatDate(messages[i].fecha) %></div>
                        </div>
                    </div>
                    <div id="userSession" class="position-relative avatar" style="width:50px; height: 50px; border-radius: 50%; border: 2px solid #212529; padding: 2px">
                        <img src=<%= userSession.profilePic %>
                            class="img-fluid rounded-circle" alt="">
                    </div>
                </div>
                 
            <% } %>
        <% } %>
        <span id="final"></span>
        </div>
        <div class="card-footer bg-white w-100 bottom-0 m-0 p-1">
            <div class="input-group">
                <form class="d-flex w-100" action="/chats/send" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="input-group-text bg-transparent border-0">
                        <a class="btn btn-light text-secondary">
                            <i class="fas fa-paperclip"></i>
                        </a>
                    </div>
                    <input type="hidden" name="idSender" value="<%= userSession.id %>">
                    <input type="hidden" name="idReceiver" id="idUser" value="<%= user.id %>">
                    <input type="text" name="message" class="form-control border-0" placeholder="Write a message...">
                    <input type="hidden" name="fecha" value="<%= helper.dateToday() %>">
                    <input type="hidden" name="read" value="0">
                    <div class="input-group-text bg-transparent border-0">
                        <button class="btn btn-light text-secondary" type="submit">
                            <i class="fa-solid fa-paper-plane"></i>
                            <!-- <i class="fa-solid fa-paper-plane-top"></i> -->
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/scroll.js"></script>
<script>
    const id = document.getElementById("idUser").value
    let content = document.getElementById("content")
    let userSession = document.getElementById("userSession")
    userSession.setAttribute("style", "width:50px; height: 50px; border-radius: 50%; border: 2px solid #212529; padding: 2px;");
    userSession.setAttribute("class", "position-relative avatar")
    let messages = []
    setInterval(() => {
        fetch("/chats/newMessages/"+id,{
    })
    .then((res)=>{
        return res.json()
    })
    .then((data)=>{
        messages = data
        renderNewMessages()
    })
    },5000)

    function renderNewMessages(){
        content.innerHTML = ""
        for(var message of messages){
            console.log(id);
            if (message.idSender == id){
                content.innerHTML = content.innerHTML + `
                <div class="d-flex align-items-baseline mb-4">
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block text-dark bg-warning p-2 px-3 m-1">${message.message} 
                            </div>
                        </div>
                        <div>
                            <div class="small">${message.fecha} 
                            </div></div>
                        </div>
                    </div>
                </div>`
            }
            else{
                content.innerHTML = content.innerHTML + `
                <div class="d-flex align-items-baseline text-end justify-content-end mb-4">
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block text-white bg-dark p-2 px-3 m-1">${message.message}</div>
                        </div>
                        <div>
                            <div class="small">${message.fecha} </div>
                        </div>
                    </div>` +  userSession.innerHTML + `
                </div>`

            }
            
        }
    

    }
</script>